<div>
    <div style="width: 500px; margin:auto;">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item {{isActive(placeImage)}}" *ngFor="let placeImage of placeImages">
                <img [src]="placeImage.imagePath" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <br>
          <p><b>Mekan Adı :</b> {{place.placeName}}</p>
          <p><b>Açıklaması :</b>  {{place.placeDescription}}</p>
          <p><b>Kiralama Ücreti :</b> {{place.placePrice}}</p>
        
    </div>
 
</div>
